<div>
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>


                <form action="/account/update" method="POST">

                    <h3>Account Update</h3>

                    <div>
                        <label for="account_firstname">First Name:</label>
                        <input type="text" id="accountFirstName" name="account_firstname" required
                            value="<%= locals.account_firstname %>">
                    </div>
                    <div>
                        <label for="accountLastName">Last Name:</label>
                        <input type="text" id="accountLastName" name="account_lastname" required
                            value="<%= locals.account_lastname %>">
                    </div>
                    <div>
                        <label for="accountEmail">Your Email:</label>
                        <input type="email" id="accountEmail" name="account_email" required
                            value="<%= locals.account_email %>">
                    </div>
                    <button type="submit">Update Account</button>
                    <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"<% } %>>

                </form>

                <form action="/account/change-password" method="POST">

                    <h3>Change Password</h3>

                    <p>Change your current password by entering a new one below. Ensure it's at least 8 characters long
                        and includes both letters and numbers.</p>
                    <button type="submit">change password</button>

                </form>
</div>